*{
    margin: 0;
    padding: 0;
}
.main-container{
   height: 100vh;
   background: bisque;
   
}
.flag-container{
 background-color: green;
    height: 250px;
width: 500px;
position: relative;
left: 50%;
top: 40%;
transform: translate(-50%,-40%);
}
.flag-circle{
    background-color: red;
height: 130px; 
width: 130px;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 100%;
}
.flag-handle{
    height: 200px;
width: 40px;
background-color: #1e272e;
position: relative;
top: 90%;
border-top-right-radius: 25px;
}
.footer-container{
    height: 50px;
    width: 80px;
    background-color: #1e272e;
    position:relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}